# Berlin LOR Health and Social Structure Atlas (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-lor-health-and-social-structure-atlas-2022-00-csv/berlin-lor-health-and-social-structure-atlas-2022-00-planning-areas.csv")

In [2]:

# Display 5 first rows
dataframe.head()

        id  health_and_social_index  ...  social_status_sub_index  health_sub_index
0  1011101                 0.876456  ...                -0.055861          1.637560
1  1011102                      NaN  ...                      NaN               NaN
2  1011103                -1.558461  ...                -1.371151         -2.405720
3  1011104                -0.787118  ...                -1.692922          0.358169
4  1011105                 1.578060  ...                 1.195823          1.833587

[5 rows x 6 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           448 non-null    int64
 1   health_and_social_index      428 non-null    float64
 2   employment_and_social_index  428 non-null    float64
 3   working_life_sub_index       428 non-null    float64
 4   social_status_sub_index      428 non-null    float64
 5   health_sub_index             428 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 21.1 KB

In [4]:

# Describe dataframe
dataframe.describe()

                 id  ...  health_sub_index
count  4.480000e+02  ...      4.280000e+02
mean   6.286195e+06  ...     -4.080841e-10
std    3.352366e+06  ...      1.000000e+00
min    1.011101e+06  ...     -6.992471e+00
25%    4.020206e+06  ...     -6.066389e-01
50%    6.025456e+06  ...      1.922500e-01
75%    9.030902e+06  ...      7.108660e-01
max    1.230431e+07  ...      2.455417e+00

[8 rows x 6 columns]